<h2 class="mb-4 text-center">Registration</h2>

<div class="flex-column row align-items-center m-0">
  <form class="col-2" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fullname" class="mb-2">Fullname:</label>
      <input
        id="fullname"
        class="form-control"
        name="fullname"
        type="text"
        placeholder="Fullname"
        formControlName="fullname">
    </div>

    <div class="form-group">
      <label for="phoneNumber" class="mb-2 mt-3">Phone number:</label>
      <input
        id="phoneNumber"
        class="form-control"
        name="phoneNumber"
        type="text"
        placeholder="Phone number"
        formControlName="phone number">
    </div>

    <div class="form-group">
      <label for="email" class="mb-2 mt-3">Email:</label>
      <input
        id="email"
        class="form-control"
        name="email"
        type="text"
        placeholder="Email"
        formControlName="email">
    </div>

    <div class="form-group">
      <label for="password" class="mb-2 mt-3">Password:</label>
      <input
        id="password"
        name="password"
        class="form-control"
        type="password"
        placeholder="Password"
        formControlName="password">
    </div>
    <div class="mt-4 d-flex justify-content-center">
      <button class="pl-3 pr-3 btn btn-primary" type="submit" [disabled]="!registrationForm.valid">Register</button>
    </div>
  </form>
</div>
