<h2 class="mb-4 text-center">Forgot password?</h2>
<p class="mb-4 text-center text-secondary">To restore access to your account, you must specify your email address.<br>
  We will send an email with a link to the password recovery form.
</p>

<div class="row justify-content-center">
  <div *ngIf="!!error" class="col-4 alert alert-danger" role="alert">
    {{ error }}
  </div>
</div>

<div class="flex-column row align-items-center m-0">
  <form class="col-3" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email" class="mb-2">Email:</label>
      <input
        id="email"
        class="form-control"
        name="email"
        type="text"
        placeholder="Email"
        formControlName="email">
    </div>
    <div class="mt-4 d-flex justify-content-center">
      <button class="pl-3 pr-3 btn btn-primary" type="submit">Send</button>
    </div>
  </form>
</div>
