<nav class="navbar navbar-expand-sm bg-second-color navbar-light">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" [routerLink]="['/']">main page</a>
        <div class="navbar-collapse justifi-content-center collapse">
            <ul class="navbar-nav  nav-font-style mx-3">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/doctors']">Список врачей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"[routerLink]="['/info']" >О нас</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav flex-row-reverse">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>